img{
    width: 500px;
    height: 400px; 
    
   
   }
   
   header{
       font-size: 25;
       background-color: #7fffd4;
       padding: 15px;
       border: solid black;
       border-radius: 20%;
       text-align: center;
   }
   .paintings{
       display: flex;
       justify-content: center;
   }
   
   table{
       background-color: rgb(116, 219, 56);
       border: solid dashed 2px rgb(241, 42, 42) ;
   }
   
   table td tr{
       border: solid dashed 2px;
       background-color: antiquewhite;
   }
   th{
       background-color: aquamarine;
       border:solid dashed 2px;
   }
   p{ font-size: 25;
       background-color: bisque;
   }
   input{ 
       background-color: red;
   }
   button{
       background-color: pink;
       border-radius: 15%;
   }